@charset "utf-8";

#loading-mask {
    width:100%;
    height:100%;
    background:#000000;
    position:absolute;
    z-index:20000;
    left:0;
    top:0;
}

#loading{
    position:absolute;
    left:43%;
    top:40%;
    border:1px solid #666666;
    padding:2px;
    width:250px;
    text-align:left;
    z-index:20001;
    background:white;
}

#loading .loading-indicator{
    color:#565656;
    background:white;
    font:bold 13px tahoma,arial,helvetica;
    padding:9px;
    margin:0;
}
